.page-homepage
  display block

.page-homepage-header
  border-bottom 1px solid #DBDEDD
  background-color #F8FDFC

.page-homepage-status
  padding 10px 0
  text-align center
  font-size 20px
  font-weight 700

  &.no
    color #DE4820

  &.yes
    color #2D9503

.page-homepage-content
  text-align center