.page-homepage
  display block

.page-homepage-header
  border-bottom 1px solid #DBDEDD
  text-align center
  padding 10px 0
  font-size 20px
  font-weight 700

.page-homepage-question
  color #333

.page-homepage-status-response
  &.no
    color #DE4820

  &.yes
    color #2D9503

.page-homepage-status-text
  margin-top  20px
  font-size 12px
  text-align center
  color #ccc

.page-homepage-content
  text-align center