.campaign-video
    width 560px
    height 315px
    margin 0 auto
    margin-top 10px

    iframe
        width inherit
        height inherit

@media only screen and (max-width:560px)
  .campaign-video
    width 100%
    height auto
    padding 0 20px
    box-sizing border-box