.campaign-video
    iframe(src="http://www.youtube.com/embed/PZjtHgBIppw?&amp;rel=0&amp;theme=light&amp;showinfo=0&amp;disablekb=1&amp;controls=0&amp;hd=1&amp;color=white" frameborder="0" allowfullscreen="")