extends layout

block content
    .page-error
        | şu an site bir nedenden dolayı patladı, nedenini biz de bilmiyor olabiliriz, baktın uzun süre düzelmedi twitterdan yardır
        br
        a(href="https://twitter.com/ramesaliyev" target="_blank") @ramesaliyev